{% extends 'base.html.twig' %}

{% block body %}
    <h1>test</h1>
    <h1>↓↓↓Test pour variable tableauテスト</h1>
    <div>①{{ mySerieTableau.title }} ②{{ mySerieTableau.year }} 　③{{ autreVar }}</div>
<div>
    <h1>↓↓↓Dateのお試し結果</h1>
    <div>{{ "now"|date('Y') }}</div>
    <div>{{ "now"|date('d-m-Y-H-i-s') }}</div>
    <div>{{ "+3 year"|date('y') }}</div>
    <div>{{ "yesterday"|date('d') }}</div>

    {# crée une variable ! #}
    <h1>↓↓↓Variableを作ったり,upperを使ってみよう</h1>
    {% set name ="Guillaume" %}
    {% set nameA ="Guillaume" %}
    <h2>{{ name|upper }}</h2>
    <h2>{{ nameA }}</h2>

    {# crée un tableau1 #}
    <h1>↓↓↓Tableauを作ってみよう</h1>
    {% set colors = ["Orange","Blue","Red","White"] %}
    <div>nombre de couleurs要素の長さ確認 : {{ colors|length }}</div>
    <div>パラ内に記述した記号で要素を結合できる : {{ colors|join(' / ') }}</div>
    {% for color in colors %}
    　
    <div>インデックス番号を入れれる : {{ loop.index }}</div>
    <div style="background-color:{{ color }}">{{ color }}
        {% endfor %}
        <div>


            {# crée un tableau2 #}
            {% set colors = ["Green","brown","gold","yelow"] %}
            {% for color in colors %}
            　
            <div>最初、最後,何番目にインデックス番号を入れる指定もできる : {{ loop.last }}</div>
            <div style="background-color:{{ color }}">{{ color }}
                <div>
                    {% endfor %}

                    {# un objet #}
                    <h1>↓↓↓objetを作ろう</h1>
                    {% set book ={
                        title:'PifPaf',
                        year: 2024,
                        autor: "John Doe"} %}
                    <h3>{{ book.autor }}</h3>
                    <div>
                        {% for key, val in book %}
                            <div>{{ key }} : {{ val }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endblock %}

                {% block title %}{{ parent() }} | Test page {% endblock %}